/* public/styles/frontend/home.css */

.feature-post{
    
}

.feature-post a img{
    width: 100%;
    float: left;
}

.feature-post .player{
    grid-column: 2 / span 3;
}

.top-nav{
    text-align: center;
    background-color: var(--background-dark);
    padding-top: 5px;
}

.top-nav img{
    height: 25px;
}

.top-nav img:hover{
    cursor: pointer;
    opacity: .7;
}

.front-ad{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 30px 0;
}

.front-ad img{
    width: 100%;
}

.latest-article{
    background-color: var(--background-dark);
    font: 18px/1.5 StardosStencil, Koulen;
    text-align: center;
    padding: 10px;
}
.Article{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(182, 182, 182);
    padding: 10px;
}

.Article .thumb{
    position: relative;
    padding-top: 56.25%;
}

.Article a:nth-child(1){
    grid-column: 2 /span 2;
    grid-row: 2 /span 2;
}

.Article a:nth-child(1) .play-icon{
    width: 10%;
}

.Article a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
}

.Article .thumb .play-icon{
    top: 5px;
    left: calc(100% - 5px);
    transform: translate(-100%);
    width: 15%;
    height: auto;
    float: none;
}

.nav-article{
    text-align: center;
    background-color: var(--background-dark);
    padding: 10px 0 5px;
}

.nav-article img{
    height: 30px;
}

.nav-article img:hover{
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width: 600px){
    .feature-post{
        grid-template-columns: 100%;
        grid-gap: 15px;
        padding: 15px;
    }

    .front-ad{
        grid-template-columns: 100%;
    }

    .Article{
        grid-template-columns: 100%;
        padding: 15px;
    }

    .Article a:nth-child(1){
        grid-column: 1 /span 1;
        grid-row: 1 /span 1;
    }

    .Article a:nth-child(1) .play-icon{
        width: 15%;
    }
}