
.random-book-wrapper{
    background-color: var(--background-dark);
    margin: 40px 0 0px;
}

.random-book-wrapper .title{
    text-align: center;
    font: 18px/1.5 StardosStencil, Koulen;
    padding: 10px;
}

.random-book{
    display: grid;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px)
    calc(25% - 15px) calc(25% - 15px);
    grid-gap: 40px 20px;
}

.random-book a img{
    width: 100%;
    float: left;
}

.random-button{
    text-align: center;
    padding: 15px 0 10px;
}

.random-button img{
    height: 35px;
}

.random-button img:hover{
    cursor: pointer;
    opacity: .7;
}

@media only screen and (max-width: 600px){
    .random-book{
        grid-template-columns: 100%;
        padding: 15px;
    }
}