/* public/styles/base.css */

:root{
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --background-dark: #38448d;
    --background: #5672b1;
    --background-light: #a5aab9;
    --foreground: #f0a66a;
    --color: black;
    --link: #5672b1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: 0.7;
}

.region{
    max-width: 1100px;
    margin: 0 auto;
}

body{
    background: var(--backgound);
    font: var(--body-font);
    color: var(--color);
}